ul{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  overflow: hidden;
  background-color:	#e6e6e6;
  border-bottom: 1px solid black;
}
li{
  float:left;
}
li a{
  display:block;
  padding:14px 16px;
  text-align: center;
  text-decoration: none;
  color: black;
}
/* Change the link color on hover */
li a:hover{

  color:#ff0000;
}
.active{
  color: #ff0000;
}
